*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.nav_main nav{
    height: 50px ;
    /* padding: 20px; */
    width: 100%;
    background-color: #04AA6D;
    display: flex;
    justify-content: right;
}
.nav_main nav li{
    list-style: none;
    margin-top: 10px;


}
.link{
    text-decoration: none;
    margin-right: 15px;
   color: aliceblue;
}